
<div class="container">
  <h1 class="centered">Stupid Coaching</h1>

  <div class="coach-qa">
    <div class="question border">
      <p><%= @question %></p>
      <p class="italicized">- You</p>
    </div>

    <div class="answer border">
      <p class= "bold"><%=@answer %></p>
      <p class="italicized">- Your Coach</p>
    </div>

    <%= link_to "Ask a new question", ask_path %>
  </div>

</div>
