
<div class="container">
  <h1 class="centered">Stupid Coaching</h1>
  <h3 class="centered">Ask your coach anything</h3>

  <div class="coach-form centered">
    <form action="answer">
      <input type="text" name="question" class="question-area">
      <input type="submit" value="Ask!" class="button bold">
    </form>
  </div>

</div>
