// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  margin: 0 auto;
}

.coach-qa, .coach-form {
  width: 400px;
  margin: 52px auto;
}

.answer {
  background-color: #FEFFE1;
}

.italicized {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.border {
  border-left: 4px solid rgb(200, 200, 200);
}

.centered {
  text-align: center;
}

.question, .answer {
  padding: 6px;
  margin: 24px 0;
}

.question-area {
  padding: 8px;
}

.button {
  background-color: #347AB7;
  color: white;
  padding: 8px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 4px;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
